.container_playlist_display {
    .header_show_list {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .show_btn {
            cursor: pointer;
        }

        &_title {
            font-size: 22px;
            font-weight: 400;
        }
    }

    .wrapper_playlist {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }
}