.container_specific_playlist {
  width: calc(100vw - 275px);
  min-height: calc(100vh - 70px);
  position: absolute;
  right: 0;
  top: 70px;
  padding: 15px 30px;
  background-color: #3b3b3b;
  color: #fff;
  z-index: 1;
}
